


  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */


  .grid-child-element.right {
    width: 100%;
    padding: 2%;
    padding-top: 7%;
    padding-bottom: 2%;
    padding-left: 3%;
   }


   .grid-child-element.left {

    width: 100%;
    padding-bottom: 880px;
    }
  
  /* Clear floats after the columns */
  .grid-container-element:after {
    content: "";
    display: table;
    clear: both;
  }

  .grid-container {
    padding-bottom: 10%;
  }

  .divs {
    display: flex;
  }
  
.item-date {
    font-size: 19px;
    padding: 0px;
    margin: 0;
    margin-top: 5%;
    padding-top: 8px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 130%;
    width: 100%;
}

.item-time {

    font-size: 19px;
    margin:0;
    margin-bottom: -2%;
    margin-top: 1px;
    padding-top: 7px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.item-corner {
    font-size: 19px;
    margin-top: -5%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}


p {
    padding-bottom: 20px;
}

img {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2.3%;
    flex-wrap: wrap;
}

.item {
    width: 300px;
}

.title {
    font-size: 950%;
    font-family: 'Bungee Outline';
    padding: 10px;
    top: -100px;
    margin-bottom: -15%;
    color: white;
    position: relative;
    padding-left: 3%;
    padding-top: 10%;
}

ul li {
    vertical-align: middle;
}

ul {
    height: 100vh;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }

  body {
    padding: 80px;
    background: black;
    height: 100%;
    margin: 0; 
    padding-bottom: 200px;
    }

    html {
        height: 100%;
    }


  .grid {
    margin: 1%;
  }

.divs {
    display: flex;
}



.here {
    background-color: white;
    border: 2px solid none;
    color: rgb(84, 84, 184);
}

a {
    text-decoration: inherit;
}

#info {
    overflow-wrap: break-word;
  hyphens: auto;
}

div.item {
    /* To correctly align image, regardless of content height: */
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: justify;
    /* The width of the container also implies margin around the images. */
    width: 250px;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
}
img {
    width: 240px;
    height: 240px;
}
.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
    position: absolute;
    color: white;
    text-align: justify;
}

.item .caption:hover {
    opacity: 1;
    background-color: black;
    cursor: pointer;
    width: 250px;
    height: 240px;
    margin-left: 0.1%;
  }
  .item .caption #info {
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
  }
  .item .caption:hover #info {
    opacity: 1;
  }


p {
    max-width: 210px;
}

.is-hidden{
    display: none;
}

a {
    color: white;
    width: auto;
}


/* menus */

.menu {
  color: white;
  font-size: 167%;
  font-family: sans-serif;
}

.map:hover {
  color: rgb(243, 71, 71);
  cursor: pointer;
  transition: color 0.5s;
}

.random:hover {
  color: rgb(243, 71, 71);
  cursor: pointer;
  transition: color 0.5s;
}

.about:hover {
  color: rgb(243, 71, 71);
  cursor: pointer;
  transition: color 0.5s;
}


.map {
  position: absolute;
  top: 11.81%;
  right: 16.5%;
  transition: color 0.5s;
}

.random {
  position: absolute;
  top: 11.79%;
  right: 24.21%;
  transition: color 0.5s;
}

.about {
  position: absolute;
  top: 11.79%;
  right: 34.32%;
  transition: color 0.5s;
}



  /* homebuttons */
  
  .walk {
    text-align: center;
    padding: 2%;
    width: 10%;
    height: auto;
    position:absolute;
    right: 41%;
    top: 2%;
}

.stop {
    text-align: center;
    padding: 2%;
    width: 10%;
    height: auto;
    position:absolute;
    left: 41%;
    top: 2%;

}

.stop:hover {
    animation: blink 1s steps(1, end) infinite;  
    cursor: pointer;   
    animation: blink 1s infinite;

}

.walk {
    animation: blink 1s steps(1, end) infinite;  
    cursor: pointer;   
    animation: blink 1s infinite;

}

.walk:hover {
  animation: none;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }